img {
    max-width: 25vw;
}

#main {
    margin-top: 100px;
}

#header-nav {
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    background: lightgray;
}

.nav-items-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
}

#main-title {
    width: 100%;
    text-align: center;
}

#ARTWORKS {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.art-piece {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 2px;
    background-color: #dddddd;
}

#CONTACT {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}